/* ############################ */
/* Body start here */
/* ############################ */
body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    background-image: url("../img/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* ############################ */
/* Header part start here */
/* ############################ */
header{
    display: flex;
    background-color: #44953F;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 200px;
    margin-right: 200px;
}
.header-container{
    flex: 1;
    margin-left: 10px;
}
.header-container img{
    height: 100px;
    width: 100px;
}
.header-container-content{
    flex: 2;
    text-align: center;
    align-self: flex-start;
}
.header-container-none{
    flex: 1;
}
.header-container-content{
    line-height: 8px;
}
.header-container-content h3{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}
.header-container-content h2{
    color: #ffffffd9;
    font-size: 24px;
    text-shadow: 0px 0px 5px rgba(196, 194, 194, 0.549), 
                 0px 0px 10px rgba(255, 255, 255, 0.549), 
                 0px 0px 15px rgba(255, 255, 255, 0.549),
                 0px 0px 20px rgb(48, 172, 14),
                 0px 0px 30px rgba(73, 255, 24, 1),
                 0px 0px 40px rgba(73, 255, 24, 1),
                 0px 0px 55px rgba(73, 255, 24, 1),
                 0px 0px 75px rgba(73, 255, 24, 1);
}
.header-container-content a{
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}
.header-container-content a:hover{
    color: #ffffff;
    font-size: 16px;
    text-decoration: underline;
}
/* ############################ */
/* Menu part start here */
/* ############################ */
nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #1F793B;
    margin-top: -1px;
}
nav ul li{
    list-style-type: none;
    padding-bottom: 7px;
    padding-top: 5px;
    border: 1px solid #FFFF00;
}
nav ul li:hover{
    list-style-type: none;
    padding-bottom: 7px;
    padding-top: 5px;
    border: 1px solid #FFFF00;
    background-color: #115F23;
}
nav ul li a{
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
.admit-card-style{
    background-color: #8A2BE2;
    padding-top: 5px;
    padding-bottom: 7px;
}
.admit-card-style:hover{
    background-color: #8A2BE2;
    padding-top: 5px;
    padding-bottom: 7px;
}
/* ############################ */
/* Mobile Menu part start here */
/* ############################ */
.mobile-nav {
    display: none;
}

/* ############################ */
/* Hero section start here */
/* ############################ */
.hero-section{
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: -16px;
    background-color: #E8E8E8;
}
.hero-section-container{
    height: 190px;
    width: 550px;
    background-color: #F9F9F9;
    margin: auto;
    margin-top: 80px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.hero-section-container-content{
    height: 110px;
    margin-left:20px;
    margin-right:20px;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 0px;
    border: 1px solid #000000;
}
.hero-section-container-content h3{
    border: 1px solid black;
    background-color: #5C9A9C;
    border-radius: 15px;
    padding: 1px;
    width: 98%;
    margin: auto;
    margin-top: -43px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-bottom: 4px;
}
.hero-section-container-content label{
    font-size: 14px;
    width: 50%;
}
.semiclon-style{
    padding-left: 155px;
    padding-right: 15px;
}
.semiclon-style2{
    padding-left: 150px;
    padding-right: 15px;
}
.hero-section-container-content input{
    padding: 5px;
    border: 1px solid #d5d3d3;
    border-radius: 5px;
    width: 50%;
}
.btn-style{
    text-align: center;
    margin-top:10px;
}
.btn-style a{
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #17A2B8;
    border: 1px solid #17A2B8 ;
    text-decoration: none;
}
.btn-style a:hover{
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #0f707e;
    border: 1px solid #0f707e ;
    text-decoration: none;
}
/* ############################ */
/* Social icon section start here */
/* ############################ */
.social-container{
    background-color: #C5E7C5;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 200px;
    margin-right: 200px;
}
.social-container-content{
    text-align: center;
    line-height: 8px;
    padding: 10px;
}
.social-container-content i{
    font-size: 13px;
    font-weight: 700;
    color: #111111;
}
.social-container-content p{
    font-size: 13px;
    color: #111111;
}
.social-container-content a{
    font-size: 13px;
    font-weight: 700;
    color: #0f1ae3;
    text-decoration: none;
}
.social-container-content a:hover{
    font-size: 13px;
    font-weight: 700;
    color: #0f1ae3;
    text-decoration: underline;
}
.social-container-icon{
    text-align: center;
}
.social-container-icon img{
    height: 25px;
    margin: 5px;
    border: 3px solid #ffffff;
    filter: drop-shadow(5px 5px 5px #7a7979);
    border-radius: 100%;
}
.social-container-icon img:hover{
    height: 25px;
    margin: 5px;
    border: 3px solid #ffffff;
    filter: drop-shadow(5px 7px 7px #7a7979);
    border-radius: 100%;
    transform: translateY(-6px);
    transition: 0.5s;
}
/* ############################ */
/* Footer part start here */
/* ############################ */
footer{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: flex-end;
    background-color: #295029;
    place-items: center;
}
.footer-container-none{
    flex: 3;
}
.footer-container-content p{
    font-size: 14px;
    color: #ffffff;
}
.footer-container-content p a{
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}
.footer-container-content p a:hover{
    font-size: 14px;
    color: #ffffff;
    text-decoration: underline;
}
.footer-container-content{
    flex:8;
    text-align: center;
}
.footer-container-img{
    flex: 1;
    text-align: end;
}
.footer-container-img img{
    height: 65px;
}
.footer-container-content-p{
    flex: 1;
}
.footer-container-content-p p{
    font-size: 14px;
    color: #ffffff;
}
/* ############################ */
/* Footer part end here */
/* ############################ */


/* ############################ */
/* Mobile device here */
/* ############################ */
@media (max-width: 767px) {
    /* ############################ */
    /* Header part start here */
    /* ############################ */
    header{
        display: block;
        background-color: #44953F;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .header-container{
        flex: 0;
        text-align: center
    }
    .header-container img {
        height: 100px;
        width: 100px;
    }
    .header-container-none{
        flex: 1;
    }
    .header-container-content{
        line-height: 8px;
    }
    .header-container-content h3{
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
    }
    .header-container-content h2{
        color: #ffffffd9;
        font-size: 16px;
        text-shadow: 0px 0px 5px rgba(196, 194, 194, 0.549), 
                     0px 0px 10px rgba(255, 255, 255, 0.549), 
                     0px 0px 15px rgba(255, 255, 255, 0.549),
                     0px 0px 20px rgb(48, 172, 14),
                     0px 0px 30px rgba(73, 255, 24, 1),
                     0px 0px 40px rgba(73, 255, 24, 1),
                     0px 0px 55px rgba(73, 255, 24, 1),
                     0px 0px 75px rgba(73, 255, 24, 1);
    }
    .header-container-content a{
        color: #ffffff;
        font-size: 12px;
        text-decoration: none;
    }
    .header-container-content a:hover{
        color: #ffffff;
        font-size: 12px;
        text-decoration: underline;
    }
    
/* ############################ */
/* Mobile Menu part start here */
/* ############################ */
nav ul{
    display: none;
}
.mobile-nav {
    display: block;
}
.mobile-nav-icon{
    text-align: end;
}

.mobile-nav-icon span {
    color: white;
    font-size: 30px;
    cursor: pointer;
    background-color: #1F793B;
    width: 100%;
    float: right;
}

.overlay {
    width: 0;
    height: 75%;
    position: fixed;
    bottom:0;
    left:0;
    background: #faf6f6;
    z-index: 1;
    overflow-x: hidden;
    transition: .4s;
}

.overlay-content a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}
.overlay-content a:hover{
    text-decoration: none;
    font-size: 16px;
    color: #747171;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.overlay-content{
    position: relative;
    top: 20%;
}

.closebtn{
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 40px;
    text-decoration: none;
    color: black;
}
    /* ############################ */
    /* Hero section start here */
    /* ############################ */
    .hero-section{
        display: flex;
        flex-wrap: wrap;
        height: 300px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: -16px;
        padding-left:20px;
        padding-right:20px;
        background-color: #E8E8E8;
    }
    .hero-section-container{
        height: 185px;
        width: 500px;
        background-color: #F9F9F9;
        margin: auto;
        margin-top: 60px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .hero-section-container-content{
        height: 105px;
        margin-left:20px;
        margin-right:20px;
        margin-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
        padding-bottom: 0px;
        border: 1px solid #000000;
    }
    .hero-section-container-content h3{
        border: 1px solid black;
        background-color: #5C9A9C;
        border-radius: 15px;
        padding: 1px;
        width: 98%;
        margin: auto;
        margin-top: -43px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 20px;
        padding-left: 5px;
        padding-bottom: 4px;
    }
    .hero-section-container-content label{
        font-size: 12px;
        width: 50%;
    }
    .semiclon-style{
        padding-left: 50px;
        padding-right: 15px;
    }
    .semiclon-style2{
        padding-left:45px;
        padding-right: 15px;
    }
    .hero-section-container-content input{
        padding: 5px;
        border: 1px solid #d5d3d3;
        border-radius: 5px;
        width: 50%;
    }
    .btn-style{
        text-align: center;
        margin-top:10px;
    }
    .btn-style a{
        color: #ffffff;
        font-size: 12px;
        font-weight: 700;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 6px;
        padding-bottom: 6px;
        background-color: #17A2B8;
        border: 1px solid #17A2B8 ;
        text-decoration: none;
    }
    .btn-style a:hover{
        color: #ffffff;
        font-size: 12px;
        font-weight: 700;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 6px;
        padding-bottom: 6px;
        background-color: #0f707e;
        border: 1px solid #0f707e ;
        text-decoration: none;
    }
    /* ############################ */
    /* Social icon section start here */
    /* ############################ */
    .social-container{
        background-color: #C5E7C5;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .social-container-content{
        text-align: center;
        line-height: 20px;
        padding: 10px;
    }
    .social-container-content i{
        font-size: 12px;
        font-weight: 700;
        color: #111111;
    }
    .social-container-content p{
        font-size: 13px;
        color: #111111;
    }
    .social-container-content a{
        font-size: 12px;
        font-weight: 700;
        color: #0f1ae3;
        text-decoration: none;
    }
    .social-container-content a:hover{
        font-size: 12px;
        font-weight: 700;
        color: #0f1ae3;
        text-decoration: underline;
    }
    .social-container-icon{
        text-align: center;
    }
    .social-container-icon img{
        height: 25px;
        margin: 5px;
        border: 3px solid #ffffff;
        filter: drop-shadow(5px 5px 5px #7a7979);
        border-radius: 100%;
    }
    .social-container-icon img:hover{
        height: 25px;
        margin: 5px;
        border: 3px solid #ffffff;
        filter: drop-shadow(5px 7px 7px #7a7979);
        border-radius: 100%;
        transform: translateY(-6px);
        transition: 0.5s;
    }
    /* ############################ */
    /* Footer part start here */
    /* ############################ */
    footer{
        display: block;
        margin-left: 0px;
        margin-right: 0px;
        background-color: #295029;
        place-items:center ;
        margin-top:-10px;
    }
    .footer-container-content p{
        font-size: 10px;
        color: #ffffff;
        padding-top: 10px;
    }
    .footer-container-content p a{
        font-size: 12px;
        color: #ffffff;
        text-decoration: none;
    }
    .footer-container-content p a:hover{
        font-size: 12px;
        color: #ffffff;
        text-decoration: underline;
    }
    .footer-container-content{
        text-align: center;
    }
    .footer-container-img{
        margin-top: -5px;
        text-align: center;
    }
    .footer-container-img img{
        height: 30px;
    }
    .footer-container-content-p{
        margin-top: -5px;
        text-align: center;
    }
    .footer-container-content-p p{
        font-size: 12px;
        color: #ffffff;
    }
}   
    /* ############################ */
    /* Footer part end here */
    /* ############################ */